<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Restaurant Warteg 5.0">

    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#db0000"/>
    <link rel="apple-touch-icon" href="/images/logo/warteg-logo192x192.png">
    <link rel="icon" href="favicon.png">

    <!-- Iconify -->
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <!-- Font Style-->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,800;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap" rel="stylesheet" type="text/css">

    <title>Warteg 5.0</title>
</head>

<body>
    <!-- Navbar-->
    <a href="#mainContent" class="goto-content">Menuju ke konten</a>
    <nav class="navbar">
        <button class="navbar-toggle red" id="hamburgerButton">☰</button>
        <a href="/" class="logo"><img src="images/warteg-brand.png" alt="Logo-Warteg"></a>
        <ul class="main-nav" id="navigationDrawer">
            <li><a href="" class="nav-links">Home</a></li>
            <li><a href="#/favorite" class="nav-links">Favorite</a></li>
            <li><a href="https://github.com/nugrohoadi24" class="nav-links">About Us</a></li>
        </ul>
    </nav>
    <header>
        <div class="masthead" alt="HeroBanner">
            <div class="box">
                <div class="row">
                    <div class="column-12">
                        <h1 class="masthead-heading" tabindex="0">WARTEG 5.0</h1>
                        <h3 class="masthead-subheading" tabindex="0">Bukan sekedar Warteg biasa, Warteg kami dilengkapi dengan teknologi 5.0<br>Juaranya Warteg Indonesia</h3>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="page-section" id="mainContent">
            
        </section>
    </main>

    <footer class="footer padding-top-btm" tabindex="0">
        <div class="box">
            <div class="row">
                <div class="column-12">
                    Copyright © 2021 | WARTEG 5.0
                </div>
            </div>
        </div>
    </footer>
</body>

</html>